/* * {
    background-image: url("assets/background.jpeg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100%;
} */

h1 {
    border-left-style: solid;
    border-left-color: cyan;
    border-left-width: 0.5rem;
    padding-left: 0.65rem;
}

h2 {
    border-style: solid;
    border-width: 0.25rem;
    border-color: purple;
    border-radius: 0.64rem;
    
}