*, *::before, *::after {
    box-sizing: border-box;
}

.website-body {
    margin: 0;

    font-size: 25px;

    background-color: #2f183f;
    color: #f5f3f7;
}

    .navbar {
        position: sticky;
        top: 10px;
        margin-right: 18%;
        margin-left: 18%;

        background-color: purple;
        border-style: solid;
        border-color: rgb(109, 134, 218);
        border-radius: 15px;
        border-width: 4px;

        display: flex;

        gap: 100px;

        justify-content: center;

        z-index: 999;
    }

    .navbar a {
        color: pink;

        text-decoration: none;

        padding: 10px;
    }

    .header-container {}

    .main-container {}

    .hero-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        border-style: solid;
        padding: 50px;
    }

        .about-section {
            scroll-margin-top: 80px;
        }

        .skills-section {
            scroll-margin-top: 80px;
        }

        .projects-section {
            scroll-margin-top: 80px;
        }

        .contact-me-section {
            scroll-margin-top: 80px;
        }

    .footer-container {}