.website-body {
    margin: 0;
    font-size: 25px;
    background-color: #2f183f;
    color: #f5f3f7;
}

    .navbar {
        position: sticky;
        top: 0;
        background-color: purple;
        padding: 10px;
        border-style: solid;
        border-color: rgb(109, 134, 218);
    }

    .navbar a {
        color: pink;
        text-decoration: none;
        padding-left: 10px;
        border-right-style: solid;
        padding-right: 20px;
    }

    .header-container {}

    .main-container {}

        .hero-section {
            scroll-margin-top: 80px;
        }

        .about-section {
            scroll-margin-top: 80px;
        }

        .skills-section {
            scroll-margin-top: 80px;
        }

        .projects-section {
            scroll-margin-top: 80px;
        }

        .contact-me-section {
            scroll-margin-top: 80px;
        }

    .footer-container {}